.container {
    width: 100vw;
    height: 100vh;
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #96c93d, #00b09b);

    display: flex;
}